* input {
  box-shadow: none !important;
  padding-left: 0.2em;
  color: black;
}

* input::placeholder {
  color: black; 
  font-size: small;
}

* select {
  box-shadow: none !important;
}

* select::placeholder {
  color: black;
}

* [data-pc-name="dropdown"] {
  box-shadow: none !important;
  color: black;
  padding-left: 0.5em;

}

#stateDropdown span {
  padding: 0;
  margin-left: 0.5rem;
  color:black
}